# Node
node_modules/
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env

# Docker
*.pid
*.pid.lock

# Vite/React
frontend/dist/
frontend/.vite/

# VSCode
.vscode/

# Traefik
infrastructure/traefik/certs/*
!infrastructure/traefik/certs/acme.json

# Database
services/**/db_data/
keycloak_db_data/
db_data/

# System
.DS_Store
Thumbs.db

# Keycloak
keycloak_data/

# Build
build/

# Misc
*.swp
*.swo
infrastructure/traefik/certs/acme.json
